---
export interface Props {
  name?: string;
}

const { name } = Astro.props;
---

<div class="relative">
  <div class="absolute inset-0 flex items-center" aria-hidden="true">
    <div class="w-full border-t border-gray-300"></div>
  </div>
  <div class="relative flex justify-center">
    <span class="px-3 bg-white text-xl font-semibold text-gray-900">
      {name}
    </span>
  </div>
</div>
