@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Inter;
  }

  html,
  body {
    height: 100%;
  }

  .lumos {
    filter: invert(0) sepia(0) saturate(1) hue-rotate(0deg) brightness(1.2);
  }
}
