---
import Head from '../components/astro/Head.astro';

export interface Props {
  headTitle: string;
  headDescription?: string;
}

const { headTitle, headDescription = '' } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="h-full">
  <Head title={headTitle} description={headDescription} />
  <body class="h-full">
    <slot />
  </body>
</html>
