---
import MainHead from '../components/astro/html/MainHead.astro';

export interface Props {
  headTitle: string;
  headDescription?: string;
}

const { headTitle, headDescription = '' } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <MainHead title={headTitle} description={headDescription} />
  <body class="dark:bg-greyDarker bg-white dark:text-white">
    <slot />
  </body>
</html>
