---
import MainHead from '../components/html/MainHead.astro';
---

<!DOCTYPE html>
<html lang="en">
  <MainHead
    title="Dylan Buchi: Portfolio"
    description="The personal portfolio of Dylan Buchi"
  />
  <body>
    <slot />
  </body>
</html>
